$main-color: #000;
$second-color: linear-gradient(91.41deg, #ffcea0 1.18%, #ff9e45 75.9%);
$text-color: #FFF;
$text-black-color: #000;
$text-white-color: #fff;
$hover-color: #FF9E45;
$background-color: #fff;
$buttons-color: #fff;