.about-me {
	height: 700px;
	padding-top: 50px;
	background: linear-gradient(91.41deg, #ffcea0 1.18%, #ff9e45 75.9%);
	&__text-descr {
		text-align: left;
		margin-left: 450px;
		width: 600px;
	}
	&__wrapper {
		position: relative;
		padding: 0 35px 0 0;
	}
	&__photo {
		width: 100%;
		position: absolute;
		top: -247px;
		left: 0;
		transform: translateX(-15%);
	}
	&__title {
		color: black;
		position: relative;
		z-index: 2;
	}
	&__subtitle {
		color: black;
	}
	&__descr {
		padding-top: 6px;
		.divider {
			margin-right: 0;
		}
	}
	&__text {
		margin-top: 20px;
		font-size: 18px;
		line-height: 21px;
		color: black;
	}

	&__skills {

		&-item {
		}
		&-text {
			word-wrap: break-word;
			margin-top: 10px;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: black;
		}
		&-circle {
			position: relative;
			padding: 15px 0 0 15px;
			z-index: 2;
		}
	}
}
