.promo {
    min-height: 100vh;
    position: relative;
    background-color: $main-color;
    padding-top: 205px;
    z-index: 1;
    &__img{
        position: absolute;
        // width: 700px;
        // height: 750px;
        bottom: 0;
        right: 10px;
        img {
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
    &__title {
        color: $text-color;
        width: 535px;
        margin-top: 10px;
        span {
            color: #FF9E45;
            text-shadow: -3px 0 0 $text-white-color;
        }
    }
    &__subtitle {
        color: $text-color;
        position: relative;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 535px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: $text-color;
        font-weight: bold;
        &:hover {
            background-color: $hover-color;
            text-decoration: none;
            color: $text-white-color;
        }
    }
}