.skills {
	height: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: linear-gradient(91.41deg, #ffcea0 1.18%, #ff9e45 75.9%);
	&__title {
		position: relative;
		text-align: center;
	}
	&__subtitle {
		text-align: center;
	}
	&__wrapper {
		// padding-top: 30px;
		// display: grid;
		// grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(1, 1fr);
		// column-gap: 15px;
        // row-gap: 15px;
		padding-top: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		width: 65px;
		height: 65px;
		// border: 1px solid $main-color;
		// background-color: $background-color;
		// padding: 20px;
		&-title {
			margin-top: 20px;
			font-weight: 700;
		}
		&-descr {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
            margin-top: 15px;
		}
		img {
			height: 65px;
		}
		&:hover {
			margin: 0 20px 0 20px;
			transform: scale(1.5);
			transition: all 0.5s;
		}
	}
}
